<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm" id="form">
    <div class="form-group">
      <label>Password</label><br><br>
      <input formControlName="password" type="password" class="form-control" placeholder="Create your Password"><br>
      <small *ngIf="password.invalid && password.touched" class="text-danger">Minimum 8 Characters.<br>Password must contain atleast 1 Number, 1 Special Character, 1 Uppercase and 1 Lowercase.</small>
    </div><br>
    <div class="form-group">
      <label>Verify Password</label><br><br>
      <input formControlName="verifypassword" type="password" class="form-control" placeholder="Confirm your Password"><br>
      <small *ngIf="passwordForm.get('verifypassword').hasError('notSame')" class="text-danger">Password Doesn't match.</small><br>
    </div>
    <button routerLink="../home" routerDirection="root" type="button" id="backbtn">Back</button>
    <button [disabled]="passwordForm.invalid" (click)="Password()" type="button">Register</button>
    </form>
</ion-content>
